@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @font-face {
        font-family: 'San Francisco';
        font-weight: 400;
        src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
    }
    font-family: -apple-system, BlinkMacSystemFont;
    font-family: -apple-system, 'Helvetica Neue', 'Lucida Grande';
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    background-image: url('') !important;
    background-color: #f5f5f7 !important;
    background-repeat: no-repeat !important;

    background-size: 100vw 130vh !important;
}

.red {
    color: #995257;
}

.green {
    color: #155824;
}

.bg {
    background-color: #dcdcde;
    opacity: 0.8;
    background-size: 30px 30px;
    background-image: repeating-linear-gradient(
        0deg,
        #782bda,
        #782bda 1.5px,
        #dcdcde 1.5px,
        #dcdcde
    );
}

.show {
    display: block !important;
}

.message {
    font-size: 0.6rem;
}

.height-scroll {
    height: 94vh !important;
}

.chat-width {
    width: 60vw !important;
}

.contact-width {
    width: 40vw !important;
}

.online {
    color: green !important;
    height: 2px !important;
    width: 2px !important;
}
